include ../theme-chips/themeChips

mixin questionCardWithVote({ overlay, bgImage, avatar, withLabel, title, subtitle, chips = [], votingOptions = [] })
    - let isDefaultQuestion = !(overlay && bgImage);

    .question-card-wrapper
        .question-card(class={ 'question-card--default': isDefaultQuestion })
            .question-card__header.question-header
                .question-header__image-wrapper.question-image
                    .question-image__bg-color(style=`background-color: ${ overlay || 'var(--background-color-white )' }`)
                    .question-image__overlay(style=`${ bgImage ? `background-image: url("./assets/images/${ bgImage }")` : '' }`)
                .question-header__info.question-info 
                    .question-info__user.question-user
                        div.question-user__link-wrapper
                            a.question-card__overlapping-link(href="/profile")
                            img.question-card__user-avatar(src=`./assets/images/${ avatar }`)
                            span.question-user__name Philip Djones
                        span.question-user__date yesterday at 12:20
                        if withLabel
                            .question-user__label 
                                a.question-card__overlapping-link(href="/profile")
                                img.question-user__label__icon(src="toy.svg")
                                span Kinderfrage
                    h3.question-info__title !{ title }
                    .question-info__subtitle !{ subtitle }
                    +themeChips({ 
                        themes: [
                            { name: 'Real estate' }, 
                            { name: 'Career' },
                            { name: 'Health' },
                            { name: 'Economy' }, 
                            { name: 'Future' }
                        ],
                        light: !isDefaultQuestion
                    })
                button.base-icon-btn.question-header__dropdown-icon.question-header__dropdown-icon--dark(data-target="qcTopDropdown")
                    span.material-icons-round more_vert
                button.base-icon-btn.question-header__dropdown-icon.question-header__dropdown-icon--dark(data-target="qcTopMenu")
                    span.material-icons-round(data-target="qcTopMenu") more_vert
            .question-card__content.question-card__content--vote 
                each option in votingOptions
                    .question-card__vote-bar
                        .question-card__vote-bar__progress(style=`width: ${ option.power }%; background-color: ${ option.bgColor }`)
                            span.question-card__vote-bar__name= option.name
                        .question-card__vote-bar__percentage= `${ option.power }%`
