mixin baseBtn({ text, withArrow, width = 197, height = 50, bgColor = 'var(--red-color)', color = 'var(--text-white)' })
    button.base-btn(
        style = `width: ${ width }px; height: ${ height }px; line-height: ${ height }px; background-color: ${ bgColor }; color: ${ color }`,
        class = withArrow ? 'base-btn--animated' : ''
    )&attributes(attributes)
        if withArrow
            span.base-btn__icon.base-btn__icon--left.material-icons-round(style=`color: ${ color }`) 
                | keyboard_arrow_right
        span.base-btn__content #{ text }
        if withArrow
            span.base-btn__icon.base-btn__icon--right.material-icons-round(style=`color: ${ color }`) 
                | keyboard_arrow_right