mixin baseBtn({ text, withArrow, width = 197, height = 50, bgColor = 'var(--red-color)', color = 'var(--text-white)' })
    button.base-btn(
        type="button", 
        style=`width: ${ width }px; height: ${ height }px; line-height: ${ height }px; background-color: ${ bgColor }; color: ${ color }`
    )&attributes(attributes)
        | #{ text }
        if withArrow
            span.base-btn__icon.material-icons-round(style=`color: ${ color }`) keyboard_arrow_right