include ../svg-icon/svgIcon
include ../theme-chips/themeChips

mixin mobileActionButton({ title, icon, count, isMaterial = false })
    button.q-mob-action-button&attributes(attributes)
        .q-mob-action-button__circle
            if isMaterial
                span.material-icons-round= icon
            else
                +svgIcon(icon)
            if count
                .q-mob-action-button__count= count
        .q-mob-action-button__title= title

mixin questionCardOpened({ overlay, bgImage, avatar, withLabel, title })
    - let isDefaultQuestion = !(overlay && bgImage);

    .question-card-wrapper.question-card-wrapper--opened
        .question-card(class={ 'question-card--default': isDefaultQuestion })
            .question-card__header.question-header
                .question-header__image-wrapper.question-image
                    .question-image__overlay(
                        style=`background-color: ${ overlay || 'var(--background-color-white )' }; background-image: url('./assets/images/${ bgImage }')`
                    )
                a.question-header__link(href="#")
                .question-header__info.question-info 
                    .question-info__user.question-user
                        div.question-user__link-wrapper
                            a.question-card__overlapping-link(href="#")
                            img.question-card__user-avatar(src=`./assets/images/${ avatar }`)
                            span.question-user__name Philip Djones
                        span.question-user__date yesterday at 12:20
                        if withLabel
                            .question-user__label 
                                a.question-card__overlapping-link(href="#")
                                .question-user__label__icon
                                    +svgIcon("bear")
                                span Kinderfrage
                    h3.question-info__title !{ title }
                    +themeChips({ 
                        themes : [{ name: 'Real estate' }, { name: 'Career' }],
                        light  : !isDefaultQuestion 
                    })
                button.base-icon-btn.question-header__dropdown-icon(
                    class       = isDefaultQuestion ? 'question-header__dropdown-icon--dark' : null,
                    data-target = "qcTopDropdown"
                )
                    span.material-icons-round more_vert
            .question-card__reactions-wrapper
                .question-card__reactions
                    button.question-card-button
                        span.question-card-button__icon.material-icons favorite
                        span Interessant 53
                    button.question-card-button(data-target="answerModal")
                        span.question-card-button__icon
                            +svgIcon("answer")
                        span Antworten
                button.question-card-button
                    span.question-card-button__icon.material-icons visibility
                    span 536
            .question-card__mobile-actions
                +mobileActionButton({ title: 'Antworten', icon: 'edit', count: 12 })(data-target="answerModal")
                +mobileActionButton({ title: 'Interessant', icon: 'favorite', count: 53, isMaterial: true })
                +mobileActionButton({ title: 'More', icon: 'more_vert', isMaterial: true })(data-target="qcTopMenu")
