mixin baseBtn({ text, withArrow, width = 197, height = 50, bgColor, color, iconType })
    button.base-btn(
        type="button", 
        style=`width: ${ width }px; height: ${ height }px; background-color: ${ bgColor }; color: ${ color }`
    )&attributes(attributes)
        span= text
        if withArrow
            img.base-btn__icon(src=`./assets/icons/right_arrow_${ iconType }.svg`)