include ../svg-icon/svgIcon

mixin questionCardWithVote({ overlay, bgImage, username, time, avatar, withLabel, title, subtitle, chips = [], votingOptions = [] })
    - let isDefaultQuestion = !(overlay && bgImage);

    .question-card(class={ 'question-card--default': isDefaultQuestion })
        .question-card__header.question-header
            .question-header__image-wrapper.question-image
                if bgImage
                    .question-image__background(style=`background-image: url('./assets/images/${ bgImage }')`)
                .question-image__overlay(style=`background-color: ${ overlay || 'var(--background-color-white )' }`)
            .question-header__info.question-info 
                .question-info__user.question-user
                    div.question-user__link-wrapper
                        a.question-card__overlapping-link(href="#")
                        img(src=`./assets/images/${ avatar }`)
                        span.question-user__name= username
                    span.question-user__date= time
                    if withLabel
                        .question-user__label 
                            a.question-card__overlapping-link(href="#")
                            img.question-user__label__icon(src="toy.svg")
                            span Kinderfrage
                .question-info__title !{ title }
                .question-info__subtitle !{ subtitle }
                .question-info__chips
                    each chip in chips
                        .question-info__chip 
                            a.question-card__overlapping-link(href=chip.link)
                            span= chip.text 
            button.base-icon-btn.question-header__dropdown-icon.question-header__dropdown-icon--dark
                +svgIcon("dropdown")
        .question-card__content.question-card__content--vote 
            each option in votingOptions
                .question-card__vote-bar
                    .question-card__vote-bar__progress(style=`width: ${ option.power }%; background-color: ${ option.bgColor }`)
                        span= option.name
                    .question-card__vote-bar__percentage= `${ option.power }%`

        